

<div class="equipo-container">

  <div class="title">
    <h1>Conoce nuestra red de expertos</h1>
  </div>


  <section>
    <div class="section-title">
      <img src="../../../../assets/logos/27. LogoSLT.svg" alt="SLT">
      <h2>Promotores encargados de crear, organizar e inspirar los cinco principales nodos de nuestra red de expertos</h2>
    </div>


    <p>A través de nuestra innovadora plataforma tecnológica conectamos el conocimiento y la experiencia de especialistas de varias disciplinas que integrados en equipos funcionales autosuficientes realizan actividades interdependientes en forma coordinada orientadas hacia el cumplimiento de metas en condiciones complejas</p>
  </section>

  <main [class]="main_Class">
    <article [class]="flex_classJ">

      <div class="article-img">
        <img src="../../../../assets/icons/25. Juan.png" alt="Juan Jorge Almonacid">
        <div class="article-title">
          <h3>Juan Jorge Almonacid Sierra</h3>
          <p>Director Ejecutivo - CEO</p>
          <p>Socio fundador</p>
          <div [class]="ver_classJ">
            <p  (click)="dropDownJuan()" class="pulsate-bck">
              <small>ver más</small>
            </p>
            <div class="linkedin ">
              <a href="https://www.linkedin.com/in/juan-jorge-almonacid-sierra-673581164/" target="_blank">
                <img src="../../../../assets/icons/26.LinkedIn.svg" alt="LinkedIn">
              </a>
              <a href="../../../../assets/tarjeta SLT.pdf" target="_blank">
                <img src="../../../../assets/icons/21. Id.svg" alt="id">
              </a>

            </div>
          </div>

        </div>
      </div>

      <div class="dropdown">
        <div [class]="dropdown_classJ">
          <div class="contenedor">
            <div class="article-main">
              <p>Cofundador de Meddylex Tech, es administrador financiero, abogado especializado en derecho privado-económico, magister y doctor en derecho de la Universidad Nacional de Colombia, en donde es profesor asociado y ha sido distinguido con las menciones laureada y meritoria a sus tesis de pregrado, especialización y doctorado. Es autor de libros y artículos relacionados con la transformación de la regulación jurídica de los mercados</p>
              <p>Durante dos décadas se ha desempeñado como consultor, asesor y litigante en el ámbito del derecho financiero, comercial y administrativo. Cuenta con una cualificada experiencia en gestión estratégica, operacional y financiera adquirida en entidades públicas y privadas de reconocido prestigio, en las que ha desarrollado destrezas basadas en la implementación de iniciativas tecnológicas útiles para prevenir, solucionar y amortiguar los efectos adversos de las crisis financieras y empresariales</p>

              <div class="linkedin ">
                <a href="https://www.linkedin.com/in/juan-jorge-almonacid-sierra-673581164/" target="_blank">
                  <img src="../../../../assets/icons/26.LinkedIn.svg" alt="LinkedIn">
                </a>
                <a href="https://www.linkedin.com/in/juan-jorge-almonacid-sierra-673581164/" target="_blank">
                  <img src="../../../../assets/icons/21. Id.svg" alt="id">
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </article>

  </main>


</div>
