<main class="portafolio">
  <div class="title">
    <div class="mountain-anim">
      <ng-lottie [options] = 'logo'
                  width = 55px></ng-lottie>
      <!-- <img src="../../../../assets/icons/MountainsLogoLight.svg" alt="Logo"> -->
    </div>
    <h1>Plataforma tecnológica</h1>
  </div>

  <article class="que-hacemos">
    
      <div class="texto">
        <p class="texto-contenido">
          KUSTODYA es una aplicación web de última generación concebida para compilar, preservar y administrar eficazmente la información interoperable útil para garantizar el acceso al servicio público esencial de salud y el amparo económico contra las contingencias derivadas de la vejez, incapacidad, discapacidad, invalidez y muerte
        </p>
      
    </div>
  </article>

  <div class="contenedor">

    <article class="acierta">
      <div class="card">
        <h2 class="subTitle">Kustodya</h2>
        <div class="img">
          <img src="../../../../assets/icons/acierta.png" alt="acierta_en_tu_inmueble">
        </div>
        <p>Cuenta con instrumentos específicos que contribuyen a proteger los recursos del Sistema General de Seguridad Social y a mitigar los crecientes riesgos de ineficiencia administrativa, deslealtad corporativa, corrupción pública y privada, fraude y abuso del ausentismo laboral por razones de salud, práctica ilegal de las profesiones y ocupaciones del área de la salud, y ejercicio de la autonomía de los profesionales de la salud por fuera de los límites fijados por los preceptos normativos, el marco de la autorregulación, la ética, la racionalidad y la evidencia científica.</p>
        <a href="https://www.aciertaentuinmueble.com/" target="_blank">Ir al sitio</a>
      </div>
    </article>

  </div>



</main>
