<div class="hero">

  <div class="title">

    <div class="mountain-anim">
      <ng-lottie [options]='logo' width=55px></ng-lottie>
      <!-- <img src="../../../../assets/icons/MountainsLogoLight.svg" alt="Logo"> -->
    </div>

    <h1>Meddylex Tech</h1>

  </div>

  <div class="container">

    <div class="contenido">
      <p>Servicios on line</p>
    </div>

    <!-- Cards -->

    <div class="cards-container">
      <div class="card">
        <img src="../../../../assets/icons/doctor.png"
          style="background: #fff !important;width: 9rem !important;padding: 8px !important;"
          alt="tecnologias_cognitivas">
        <p>Medicina Laboral</p>
        <a href="#Medicina">Saber más</a>
      </div>
      &nbsp;
      <div class="card">
        <img src="../../../../assets/icons/consultoria.png"
          style="background: #fff !important;width: 9rem !important;padding: 8px !important;" alt="nuevos_modelos">
        <p>Consultoría</p>
        <a href="#Consultoria">Saber más</a>
      </div>
      &nbsp;
      <div class="card">
        <img src="../../../../assets/icons/consultar.png" style="background: #fff !important;width: 9rem !important;padding: 8px !important;"   alt="tecnologias_cognitivas">
        <p>Asesoría</p>
        <a href="#Asesoria">Saber más</a>
      </div>
    </div>

    <div class="cards-container">
      <div class="card">
        <img src="../../../../assets/icons/Auditoria.png" style="background: #fff !important;width: 9rem !important;padding: 8px !important;"   alt="nuevos_modelos">
        <p>Auditoría</p>
        <a href="#Auditoria">Saber más</a>
      </div>
      &nbsp;
      <div class="card">
        <img src="../../../../assets/icons/peritaje.png" style="background: #fff !important;width: 9rem !important;padding: 8px !important;"   alt="tecnologias_cognitivas">
        <p>Peritaje</p>
        <a href="#Peritaje">Saber más</a>
      </div>
      &nbsp;
      <div class="card">
        <img src="../../../../assets/icons/capacitacion.png" style="background: #fff !important;width: 9rem !important;padding: 8px !important;"   alt="nuevos_modelos">
        <p>Capacitación</p>
        <a href="#Capacitacion">Saber más</a>
      </div>
    </div>

    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </div>



</div>

<main class="main-home">
  <article class="tecnologias-cognitivas" id="Medicina">

    <div class="nosotros-container-home">

      <h2>MEDICINA LABORAL</h2>
      <div class="contenido">
        <ng-lottie [options]="tecnologiasCognitivas" class="icono"></ng-lottie>
        <!-- <img class="icono" src="../../../../assets/icons/4. Tecnologias2 2.svg" alt="tecnologias"> -->
        <p class="texto-contenido">
          Integramos experiencia jurídica y médica tradicionales a plataformas de software que despliegan
          automáticamente
          modelos de análisis coherentes, predictivos y confiables para atender las necesidades de los usuarios,
          prestadores de servicios y supervisores del Sistema General de Seguridad Social
        </p>
      </div>



      <article class="val-pri" style="width: 100%; margin: auto;">

        <div class="contenedor">
          <div class="valores-container">
            <div class="valores">

              <div (click)="activarDropDownV('Calificacion_origen')" class="drop-button">
                <img class="pulsate-bck" src="../../../../assets/icons/9. Integridad.svg" alt="integridad">
                <p style="text-align: center;">Calificación de origen</p>
              </div>

              <div (click)="activarDropDownV('Emision_incapacidad')" class="drop-button ">
                <img class="pulsate-bck" src="../../../../assets/icons/11. Solidaridad 1.svg" alt="solidaridad">
                <p style="text-align: center;">Emisión incapacidad</p>
              </div>

              <div (click)="activarDropDownV('Auditoria_Incapacidades_Prolongadas')" class="drop-button">
                <img class="pulsate-bck" src="../../../../assets/icons/8. Respeto.svg" alt="respeto">
                <p style="text-align: center;">Incapacidades Prolongadas</p>
              </div>

              <div (click)="activarDropDownV('Concepto_rehabilitacion')" class="drop-button">
                <img class="pulsate-bck" src="../../../../assets/icons/8. Respeto.svg" alt="respeto">
                <p style="text-align: center;">Concepto rehabilitación</p>
              </div>

            </div>
          </div>
        </div>

        <div [class]="dropdown_classV">
          <div class="contenedor">
            <h4>{{dropDownTitle}}</h4>
            <p>{{dropDownContent}}</p>
          </div>
        </div>

        <div class="contenedor">
          <div class="valores-container">
            <div class="valores">

              <div (click)="activarDropDownV('Calificacion_PCL')" class="drop-button ">
                <img class="pulsate-bck" src="../../../../assets/icons/11. Solidaridad 1.svg" alt="solidaridad">
                <p style="text-align: center;">Calificación de PCL</p>
              </div>

              <div (click)="activarDropDownV('Identificacion_presuntos_Abusos_derecho')" class="drop-button">
                <img class="pulsate-bck" src="../../../../assets/icons/9. Integridad.svg" alt="integridad">
                <p style="text-align: center;">Abusos del derecho</p>
              </div>

              <div (click)="activarDropDownV('E_RETHUS')" class="drop-button ">
                <img class="pulsate-bck" src="../../../../assets/icons/11. Solidaridad 1.svg" alt="solidaridad">
                <p style="text-align: center;">E-RETHUS</p>
              </div>

              <div (click)="activarDropDownV('Business_Intelligence')" class="drop-button">
                <img class="pulsate-bck" src="../../../../assets/icons/9. Integridad.svg" alt="integridad">
                <p style="text-align: center;">Business Intelligence</p>
              </div>

            </div>
          </div>
        </div>
      </article>
    </div>





    <div class="button">
      <a routerLink="../portafolio" class="boton" routerLinkActive="active">Ver plataforma</a>
    </div>

    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </article>
  <article class="nuevos-modelos" id="Consultoria">
    <h2 class="servicios">CONSULTORÍA</h2>
    <div class="contenido">
      <ng-lottie [options]='serviciosJuridicos' class="icono"></ng-lottie>
      <!-- <img class="icono" src="../../../../assets/icons/3. Nuevos  Modelos2 1.svg" alt="modelos"> -->
      <p class="texto-contenido">
        A través de nuestra red interdisciplinaria de expertos colaboramos en la identificación de las causas de
        desafíos y problemas específicos y en la definición de las pautas para encontrar la mejor solución
      </p>

    </div>

    <div class="button">
      <a routerLink="../portafolio" class="boton" routerLinkActive="active">Ver plataforma</a>
    </div>

    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </article>

  <article class="tecnologias-cognitivas" id="Asesoria">
    <h2>ASESORÍA</h2>
    <div class="contenido">
      <ng-lottie [options]='tecnologiasCognitivas' class="icono"></ng-lottie>
      <!-- <img class="icono" src="../../../../assets/icons/4. Tecnologias2 2.svg" alt="tecnologias"> -->
      <p class="texto-contenido">
        A partir de la supervisión y el análisis continuo de la información brindamos soporte y consejo profesional
        especializado y efectivo en la optimización del crecimiento y rendimiento empresarial y en la prevención de los
        riesgos jurídicos inherentes al ejercicio de la medicina
      </p>
    </div>

    <div class="button">
      <a routerLink="../portafolio" class="boton" routerLinkActive="active">Ver plataforma</a>
    </div>

    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </article>

  <article class="tecnologias-cognitivas" id="Auditoria">
    <h2>AUDITORÍA</h2>
    <div class="contenido">
      <ng-lottie [options]='serviciosJuridicos' class="icono"></ng-lottie>
      <!-- <img class="icono" src="../../../../assets/icons/4. Tecnologias2 2.svg" alt="tecnologias"> -->
      <p class="texto-contenido">
        Mediante exhaustivas y probadas metodologías implementadas en plataformas tecnológicas de última generación
        realizamos mediciones, análisis y valoraciones independientes y rigurosas en los ámbitos médico, jurídico y
        contable
      </p>
    </div>

    <div class="button">
      <a routerLink="../portafolio" class="boton" routerLinkActive="active">Ver plataforma</a>
    </div>

    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </article>

  <article class="tecnologias-cognitivas" id="Peritaje">
    <h2>PERITAJE</h2>
    <div class="contenido">
      <ng-lottie [options]='tecnologiasCognitivas' class="icono"></ng-lottie>
      <!-- <img class="icono" src="../../../../assets/icons/4. Tecnologias2 2.svg" alt="tecnologias"> -->
      <p class="texto-contenido">
        Nuestra red de expertos cuenta con peritos que poseen la aptitud e idoneidad técnica y científica para emitir
        conceptos fundados, claros, concisos y razonados acerca del estado de salud, las lesiones y daños originados en
        la negligencia en el ejercicio de la medicina
      </p>
    </div>

    <div class="button">
      <a routerLink="../portafolio" class="boton" routerLinkActive="active">Ver plataforma</a>
    </div>

    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </article>

  <article class="tecnologias-cognitivas" id="Capacitacion">
    <h2>CAPACITACIÓN</h2>
    <div class="contenido">
      <ng-lottie [options]='serviciosJuridicos' class="icono"></ng-lottie>
      <!-- <img class="icono" src="../../../../assets/icons/4. Tecnologias2 2.svg" alt="tecnologias"> -->
      <p class="texto-contenido">
        Proveemos cursos virtuales prácticos en los se analizan casos reales que facilitan la consolidación de
        competencias y destrezas que ayudan a mitigar el impacto de los riesgos jurídicos inherentes al ejercicio de las
        ciencias de la salud
      </p>
    </div>

    <div class="button">
      <a routerLink="../portafolio" class="boton" routerLinkActive="active">Ver plataforma</a>
    </div>

    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </article>

  <section class="aliados-section">
    <div class="aliados-container">
      <div class="aliados">
        <h3>Alianzas:</h3>

        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <img src="../../../../assets/icons/30_OitechPrueba.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/31_SmartLawTech.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/32_BaseParkway.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/33_QuidData.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/34_Protekto.png" height="100" width="250" alt="" />
            </div>

            <div class="slide">
              <img src="../../../../assets/icons/30_OitechPrueba.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/31_SmartLawTech.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/32_BaseParkway.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/33_QuidData.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
              <img src="../../../../assets/icons/34_Protekto.png" height="100" width="250" alt="" />
            </div>
          </div>
        </div>


      </div>

    </div>
  </section>


</main>
