<div class="contacto-container">
  
  <div class="title">

    <div class="mountain-anim">
      <ng-lottie [options] = 'logo'
                  width = 55px></ng-lottie>
      <!-- <img src="../../../../assets/icons/MountainsLogoLight.svg" alt="Logo"> -->
    </div>

    <h1>Contáctanos ahora</h1> 

  </div>

  <div class="contact-cards-container">
    <div class="contact-cards">
      <div class="email">
        <img src="../../../../assets/icons/17. Correo.svg" alt="Correo">
        <p>meddylexs@gmail.com</p>
        <a href="mailto:meddylexs@gmail.com" target="_blank">E-mail</a>
      </div>
      <div class="telefono">
        <img src="../../../../assets/icons/18. Telefono.svg" alt="Correo">
        <p>(+57) 3108034478</p>
        <p>(+57) 3124563322</p>
        <a href="https://wa.link/klahxn" target="_blank">Whatsapp</a>
      </div>
      <div class="direccion">
        <img src="../../../../assets/icons/19. Direccion.svg" alt="Correo">
        <p>Carrera 25 # 41 – 94</p>
        <p>Bogotá DC, Colombia</p>
        <a href="https://goo.gl/maps/LvtkbFUnUhS7ZPPS8" target="_blank">Google Maps</a>
      </div>
    </div>
  </div>
  

  


</div>