

// *COLORES
$white : #ffff;
$smartBlue: #42c0d8;



$colors : (
  header : #171717,
  menu-movil : #10100F,
  footer : #171717
);




$telefono: 480px;
$tablet: 768px;
$desktop:1024px;
$desktopL:1200px;
