<footer>
  <div class="contenido">
    <h4>Contenido</h4>
    <ul>
      <li>
        <a routerLink ="home">
          Inicio
        </a>
        </li>
      <li>
        <a routerLink ="nosotros">
          Nosotros
        </a>
      </li>
      <li>
        <a routerLink ="portafolio">
          Servicios
        </a>
      </li>
      <li>
        <a routerLink ="equipo">
          Equipo
        </a>
      </li>
      <li>
        <a routerLink ="contacto">
          Contacto
        </a>
      </li>
    </ul>
  </div>
  <div class="redes">
    <h4>Redes Sociales - TEXTO SLT</h4>
    <ul>
      <li>
        <a href="https://www.linkedin.com/company/smartlaw-tech/" target="_blank">
          <img src="../../../assets/icons/linkedIn.svg" alt="LinkedIn">
        </a>
      </li>
      
      <li>
        <a href="https://www.facebook.com/sltsmart" target="_blank">
          <img src="../../../assets/icons/facebook.svg" alt="Facebook">
        </a>
      </li>

      <li>
        <a href="https://twitter.com/SmartLawTech" target="_blank">
          <img src="../../../assets/icons/twitter.svg" alt="Twitter">
        </a>
      </li>

      <li>
        <a href="https://wa.link/klahxn" target="_blank">
          <img src="../../../assets/icons/29. whatsapp.svg" alt="Whatsapp">
        </a>
      </li>
    </ul>
  </div>
  <div class="contacto">
    <h4>Contacto</h4>
    <ul>
      <li>Carrera 25 # 41 – 94</li>
      <li>Bogotá DC, Colombia</li>
      <li>meddylexs@gmail.com</li>
      <li>(+57) 3108034478</li>
      <li>(+57) 3124563322</li>
    </ul>
  </div>
</footer>